
<div id="wrapper">
  <h1 ><a href="/" class="baffle">Minns vi den gången Zahabe...</a></h1>

  <div id="cli" class="sticky">

    <div id="bash">></div>
    <textarea name="Text" id="cli_input" rows="1" placeholder="_" onkeyup="auto_grow(this)"></textarea>
    <button type="submit" id="cli_button">=></button>
    <div id="cli_output"></div>

  </div>  
  <div id="dagens">
    <b>Dagens Zahabe:</b>
    <ol>
        
      {{#if daily.Story}}
        <div class='storyicon'><a href='#'><img src='images/read.png' alt='read full'></a></div>
        <a href='#'><li value='{{daily.cnt}}'><span class="mvContent">{{daily.Text}}</span></li></a>
      {{else}}
        <li value="{{daily.cnt}}"><span class="mvContent">{{daily.Text}}</span></li>
      {{/if}}
      
    </ol>
  </div>
  <div id="rows">
    <ol id="MVs">
      {{#each MVs}}
        {{#if this.Story}}
          <div class='storyicon'><a href='#'><img src='images/read.png' alt='read full'></a></div>
          <a href='#'><li value="{{this.cnt}}" class='MV'><span class="mvContent">{{this.Text}}</span></li></a>
        {{else}}
          <li class='MV' value="{{this.cnt}}" id="{{this.cnt}}"><span class="mvContent">{{this.Text}}</span></li>
        {{/if}}
      {{/each}}
       
    </ol>

  </div>
</div>

<script>



</script>